 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mave</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <!-- name / social-->
    <header>
        <h1>maven</h1>
    </header>

    <!-- quote / description / image -->
    <div class="profile">

        <div class="content">
            <div class="description">
                <h4>"Pathetic bugs like you can never hope to kill a noble cockroach like me!"</h4>
                <br>
                <h5>Momentary maniac with casual delusions</h5>
            </div>
            <div class="image">
                <img src="/static/images/cat.jpg" alt="image.png">
            </div>
        </div>
    </div>

    <!-- social -->
    <footer>
        <ul>

        </ul>
    </footer>

</body>
</html>
